body {
    background-color: #f0f0f0;
}

#search {
    height: 35px;
    width: 200px;
    background-color: #f0f0f0;
    border-radius: 30px;
    display: flex;
    margin-top: 8px;
}

#xyz {
    display: flex;
    color: #000407;
    font-size: 17px;
    width: 150px;
    
    justify-content: space-evenly;

}

#logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("WhatsApp Image 2024-06-03 at 12.09.00_0b118c48.jpg");
    background-size: cover;

}
pre{
    margin: 8px;
    margin-right: 30px;
}

i {
    padding-left: 15px;
    padding-top: 10px;

}

#nav {
    display: flex;
    height: 55px;
    justify-content: space-between;
    position: fixed;
    width: 1470px;
    top: 0px;
    margin-right: 0px;
    background-color: white;

}

#will{
    text-decoration: none;
}
#sto {
    height: 30px;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    


}

#play {
    margin: px;
    margin-top: 0px;
}

b {
    padding-top: 9px;
}

.stories {
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.box {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid rgb(190, 19, 19);
}

#text {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#text2 {
    display: flex;
    justify-content: space-between;
    width: 150px;
    font-size: 25px;

}

#main2 {
    width: 800px;
    margin-left: 110px;
    height: 600px;
}

#main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    
}



#main1 {
    width: 300px;
    height: 600px;
    background-color: #f0f0f0;
    flex: 0 0 auto;
   position: fixed;
    margin-right: 1150px;
    
}



#main3 {
    width: 300px;
    height:640px;
  
    margin-top:20px ;
    border-radius: 10px;
    position: fixed;
    margin-left: 1100px;
}

#text3 {
    padding-top: 25px;
    font-size: 22px;
    padding-left: 10px;
}

.post {
    height: 200px;
    width: 140px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-top: 20px;

}

.column1 {
    display: flex;
    justify-content: space-around;
}


.profile {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 2px solid rgb(31, 67, 212);
    margin: 8px;
}

#prof1 {
    background-image: url("WhatsApp Image 2024-06-03 at 10.45.43_2c1ed45a.jpg");
    background-size: cover;
}

#prof2 {
    background-image: url("WhatsApp Image 2024-06-03 at 10.47.29_f5a87cd8.jpg");
    background-size: cover;
}

#prof3 {
    background-image: url("WhatsApp Image 2024-06-03 at 10.49.49_e1adf5c1.jpg");
    background-size: cover;
}

#prof5 {
    background-image: url("WhatsApp Image 2024-06-03 at 10.54.37_1e6ed46e.jpg");
    background-size: cover;

}
#prof6 {
    background-image: url("WhatsApp Image 2024-06-03 at 10.44.40_44de1d02.jpg");
    background-size: cover;

}

.user_name {
    display: flex;
    height: 45px;


}

#post1 {

    background-image: url("WhatsApp Image 2024-06-03 at 10.45.43_2c1ed45a.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between; 
} 

#post2 {
    background-image: url("WhatsApp Image 2024-06-03 at 11.06.00_c200ed94.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#post3 {

    background-image: url("WhatsApp Image 2024-06-03 at 10.54.37_1e6ed46e.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    color: white;
}

#post5 {

    background-image: url("WhatsApp Image 2024-06-03 at 10.52.02_85001a9b.jpg");
    background-size: cover;

    display: flex;
    justify-content: space-between;
    color: white;
}

#post6 {

    background-image: url("WhatsApp Image 2024-06-03 at 10.55.20_ee53846a.jpg");
    background-size: cover;

    display: flex;
    justify-content: space-between;
    color: white;
}
.before_click {
    border: 2px solid #f0f0f0;
}

.line {
    width: 24px;
    height: 3px;
    background-color: black;
    margin: 7px;
}

#ham {
    display: flex;
}

#menu-toggle {
    margin-top: 6px;
}

#user_profile {
    height: 55px;
    width: 240px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    padding-top: 0.6px;
    display: flex;
    justify-content: space-evenly;

}

#menu3 {
    height: 373px;
    width: 240px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    margin-top: 30px;
    
}

.btn {
    height: 46px;
    width: 240px;
   cursor: pointer;
    top: 0px;
    display: flex;
    padding: 0px;
    margin: 0px;
    

}

#btn1 {
    margin-top: 10px;
}

i {
    padding-right: 25px;
}

#profile_pic {
    height: 40px;
    width: 48px;
    background-image: url("WhatsApp Image 2024-06-03 at 10.45.43_2c1ed45a.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 10px;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
}

#profile_name {
    padding-top: 10px;
    padding-left: 25px;
    text-decoration: none;
    
}
#column2{
    height: 60px;
    width: 780px;
    background-color: white;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    padding-top: 1px;
}
#profile_pic2 {
    height: 40px;
    width: 40px;
    background-image: url("WhatsApp Image 2024-06-03 at 10.45.43_2c1ed45a.jpg");
    background-size: cover;
    border-radius: 50%;
    margin:10px ;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    
}

#col1{
    display: flex;
}
#col2_text{
    margin: 7px;
}

#col2{
    height: 27px;
    width: 110px;
    background:linear-gradient(#40067e , #0e53c9);
    border-radius: 19px;
    text-align: center;
    padding-top: 11px;
    margin-top: 10px;
    margin-left: 400px;
    color: white;
}
.COLUMN{
    height: 730px;
    width: 780px;
    background-color: white;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 10px;
    padding-top: 15px;

}
.profiles{
    height: 50px;
    width: 780px;
    display: flex;
    margin-left:15px;
    border-radius: 10px;
    padding-top: 1px;
    

    
}


#profile_pic3 {
    height: 40px;
    width: 40px;
    background-image: url("WhatsApp Image 2024-06-03 at 11.06.15_de3e5fd8.jpg");
    background-size: cover;
    border-radius: 50%;
    margin:0px ;
    
    display: flex;
    justify-content: space-evenly;
    
}

#TEXT1{
    margin-top: 7px;
    margin-left: 20px;
    font-size: 12px;
}
.BTN{
    height: 24px;
    width: 90px;
    background:#3897f0;
    border-radius: 19px;
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
    margin-left: 540px;
    color: white; 
}
.POST{
    height: 520px;
    width: 780px;
}
.after_click{
    color:black;
    background-color:#fff;
    border: 2px solid black;
}
.before_click{
    color: #fff;
}
.action{
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
    
}
.icon{
    
    size:100px;
}
#caption1{
    margin-left: 10px;
}
.btn:hover{
    background:linear-gradient(#84f3ff , #0e53c9); 
}
.fas{
    color: red;
}
#message{
    height: 45px;
    width: 270px;
   display: flex;
  
   border-radius: 10px;
   margin: 10px;
   justify-content: space-between;
}
#t1{
    margin: 16px;
}
#pen{
    margin-top: 6px;
}
#BoX1{
    height: 40px;
    width: 250px;
   display: flex;
   background-color: #f0f0f0;
   border-radius: 10px;
   
   margin-left: 22px;
}
#t2{
    margin: 10px;
}
#scan{
    margin-top:2px;
}
#line{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
#BOXX11{
    width: 300px;
    height: 420px;  
    background-color:white ;
    top: 0px;
    border-radius: 10px;
    margin: 0px;
    margin-top:10px;
}
.BoXX{
    height: 50px;
    margin: 2px;
    display: flex;
   
    
}
.BO12{
height: 35px;
width: 35px;
border-radius: 50%;
background-color: red;
margin-top: 10px;
margin-left: 30px;
margin-right: 10px;


}

.TEXT123{
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#newbox{
margin-top: 10px;
}
#BoX2{
    background-image: url("WhatsApp Image 2024-06-03 at 10.45.43_2c1ed45a.jpg");
    background-size: cover;
}
#BoX3{
    background-image: url("WhatsApp Image 2024-06-03 at 10.47.29_f5a87cd8.jpg");
    background-size: cover;
}
#BoX4{
    background-image: url("WhatsApp Image 2024-06-03 at 10.49.49_e1adf5c1.jpg");
    background-size: cover;
}
#BoX5{
    background-image: url("WhatsApp Image 2024-06-03 at 10.54.37_1e6ed46e.jpg");
    background-size: cover;
}
#BoX6{
    background-image: url("WhatsApp Image 2024-06-03 at 10.44.40_44de1d02.jpg");
    background-size: cover;
}
#exp{
    text-decoration: none;
    margin-top: 10px;
}
#xp2{
    text-decoration: none;
}

#BOX99{
    height: 210px;
    width: 300px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding-top: 1px;
}

#req{
    height: 25px;
    
   
}

.part{
 height: 90px;
 width: 280px;
 
 margin: 10px;
 border-radius: 10px;
}

.REQUEST{
    height: 40px;
    width: 40px;
    
    border-radius: 50%;
    margin: 10px;
}
#port1{
    display: flex;
   
}
.DOM{
    margin: 10px;
}

.ACBTN{
    height: 25px;
    width: 80px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-top: 7px;
    text-align: center;
    
}
#port2{
    display: flex;
    justify-content: space-evenly;
}
.ACBTN:hover{
    background:#3897f0; 
}

#REQ1{
    background-image: url("WhatsApp Image 2024-06-06 at 15.57.18_28bcb35b.jpg");
    background-size: cover;
}
#port4{
    display: flex;
    justify-content: space-evenly;
}
#port3{
    display: flex;
   
}
#REQ2{
    background-image: url("WhatsApp Image 2024-06-06 at 16.09.45_56426565.jpg");
    background-size: cover;
}